<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<ul th:replace="fragments/navigation :: leaderProjects"></ul>

<div class="row">

    <div class ="column middle">
    <table th:replace="fragments/project :: List"></table>
    </div>

    <div class="column side">
        <ul th:replace="fragments/navigation :: projectSubAddActive"></ul>
        <form th:replace="fragments/project :: addForm "></form>
    </div>

</div>


</body>
</html>
