<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:a="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>

<body>

<div id="container">
<div id="logo">
    Reporting tool
</div>
    <div id="navbar">
        <div class="navfield"><a class="fieldlink" th:href="@{/report/create/}">NEW REPORT</a></div>
        <div class="navfield"><a class="fieldlink" th:href="@{/report/find/}">REPORTS</a></div>
        <div class="navfieldactive">PROJECTS </div>

        <div class="navfieldR"><a class="fieldlink" th:href="@{/logout}">LOG OUT</a></div>
        <div style="clear:both;"></div>
    </div>

    <div id="leftbox">
       <div class="titlefield">ADD NEW PROJECT </div>
        <form th:replace="fragments/project :: addForm"></form>
    </div>

    <div id="middlebox">
        <form th:replace="fragments/project :: List"></form>
    </div>

    <div id="rightbox">
        <div class="titlefield">FIND PROJECT </div>
        <form th:replace="fragments/project :: findForm"></form>
    </div>

    <div id="footerleft"><i>Created by Paweł Muniak</i></div>
    <div id="footerright">
        <div class="botbarfield">MODELLING</div>
    </div>

</div>

</body>
</html>