<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <title>Reporting center</title>
    <meta charset="UTF-8" />
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1" />
    <link href="https://fonts.googleapis.com/css?family=Lobster|Permanent+Marker|Ranga:400,700&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>

</body>
</html>