<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<ul>

    <li th:fragment="home"><a th:href="@{/home}">Home</a></li>
    <li th:fragment="homeActive"><a class="active">Home</a></li>

    <li th:fragment="allProjects"><a th:href="@{/projects/all}">All Projects</a></li>
    <li th:fragment="allProjectsActive"><a class="active">All Projects</a></li>

    <li th:fragment="myProjects"><a th:href="@{/projects/my}">My Projects</a></li>
    <li th:fragment="myProjectsActive"><a class="active">My Projects</a></li>

    <li th:fragment="sendReport"><a th:href="@{/reports/create}">Send Report</a></li>
    <li th:fragment="sendReportActive"><a class="active">Send Report</a></li>

    <li th:fragment="myReports"><a th:href="@{/reports/my}">My Reports</a></li>
    <li th:fragment="myReportsActive"><a class="active">My Reports</a></li>


    <li th:fragment="employees"><a th:href="@{/employee/all}">Employees</a></li>
    <li th:fragment="employeesActive"><a class="active">Employees</a></li>






    <li th:fragment="leaderSendReport"><a th:href="@{/reports/all}">Send Report</a></li>
    <li th:fragment="leaderSendReportActive"><a class="active">Send Report</a></li>

    <li th:fragment="leaderMyReports"><a th:href="@{/user/reports}">My Reports</a></li>
    <li th:fragment="userMyReportsActive"><a class="active">My Reports</a></li>

    <li th:fragment="leaderProjects"><a th:href="@{/user/project}">My Projects</a></li>
    <li th:fragment="userProjectsActive"><a class="active">My Projects</a></li>

    <li th:fragment="about" class="right"><a th:href="@{/about}">About</a></li>
    <li th:fragment="aboutActive" class="right"><a class="active">About</a></li>

    <li th:fragment="addProject"><a th:href="@{/projects/add}">ADD PROJECT</a></li>
    <li th:fragment="addProjectActive"><a class="active">ADD PROJECT</a></li>

    <li th:fragment="findProject"><a th:href="@{/projects/find}">FIND PROJECT</a></li>
    <li th:fragment="findProjectActive"><a class="active">FIND PROJECT</a></li>

    <li th:fragment="backToProjects"><a th:href="@{/projects/all}">BACK</a></li>

    <li th:fragment="logout" class="right"><a th:href="@{/logout}">LOG OUT</a></li>
    <li th:fragment="logoutActive" class="right"><a class="active">LOG OUT</a></li>

    <li th:fragment="login" class="right"><a th:href="@{/login}" method="post">LOG IN</a></li>
    <li th:fragment="loginActive" class="right"><a class="active">LOG IN</a></li>

</ul>

</body>
</html>