<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<ul class="topnav" th:fragment="unloggedHome">
    <li th:replace="fragments/links :: homeActive"></li>
    <li th:replace="fragments/links :: login"></li>
</ul>

<ul class="topnav" th:fragment="unloggedLogin">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: loginActive"></li>
</ul>

<ul class="topnav" th:fragment="userHome">
    <li th:replace="fragments/links :: homeActive"></li>
    <li th:replace="fragments/links :: reports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="userReports">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: reportsActive"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>


<ul class="topnav" th:fragment="leaderHome">
    <li th:replace="fragments/links :: homeActive"></li>
    <li th:replace="fragments/links :: projects"></li>
    <li th:replace="fragments/links :: reports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="leaderProjects">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: projectsActive"></li>
    <li th:replace="fragments/links :: reports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="leaderReports">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: projects"></li>
    <li th:replace="fragments/links :: reportsActive"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="adminHome">
    <li th:replace="fragments/links :: homeActive"></li>
    <li th:replace="fragments/links :: projects"></li>
    <li th:replace="fragments/links :: employees"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="adminProjects">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: projectsActive"></li>
    <li th:replace="fragments/links :: employees"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="adminEmployees">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: projects"></li>
    <li th:replace="fragments/links :: employeesActive"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>


<ul class="topnav" th:fragment="projectSub">
    <li th:replace="fragments/links :: addProject"></li>
    <li th:replace="fragments/links :: findProject"></li>
</ul>

<ul class="topnav" th:fragment="projectSubAddActive">
    <li th:replace="fragments/links :: addProjectActive"></li>
    <li th:replace="fragments/links :: findProject"></li>
</ul>

<ul class="topnav" th:fragment="projectSubFindActive">
    <li th:replace="fragments/links :: addProject"></li>
    <li th:replace="fragments/links :: findProjectActive"></li>
</ul>

<ul class="topnav" th:fragment="projectBack">
    <li th:replace="fragments/links :: backToProjects"></li>
</ul>

</body>
</html>