<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>

<ul class="topnav" th:fragment="unloggedHome">
    <li th:replace="fragments/links :: homeActive"></li>
    <li th:replace="fragments/links :: login"></li>
</ul>

<ul class="topnav" th:fragment="unloggedLogin">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: loginActive"></li>
</ul>

<ul class="topnav" th:fragment="userHome">
    <li th:replace="fragments/links :: homeActive"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="userSendReport">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReportActive"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="userMyReports">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReportsActive"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="userMyProjects">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjectsActive"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>


<ul class="topnav" th:fragment="leaderHome">
    <li th:replace="fragments/links :: homeActive"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: allProjects"></li>
    <li th:replace="fragments/links :: unreadReports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="leaderSendReport">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReportActive"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: allProjects"></li>
    <li th:replace="fragments/links :: unreadReports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="leaderMyReports">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReportsActive"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: allProjects"></li>
    <li th:replace="fragments/links :: unreadReports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="leaderMyProjects">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjectsActive"></li>
    <li th:replace="fragments/links :: allProjects"></li>
    <li th:replace="fragments/links :: unreadReports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="leaderAllProjects">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: allProjectsActive"></li>
    <li th:replace="fragments/links :: unreadReports"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="leaderUnreadReports">
    <li th:replace="fragments/links :: home"></li>
    <li th:replace="fragments/links :: sendReport"></li>
    <li th:replace="fragments/links :: myReports"></li>
    <li th:replace="fragments/links :: myProjects"></li>
    <li th:replace="fragments/links :: allProjects"></li>
    <li th:replace="fragments/links :: unreadReportsActive"></li>
    <li th:replace="fragments/links :: logout"></li>
</ul>

<ul class="topnav" th:fragment="projectSub">
    <li th:replace="fragments/links :: addProject"></li>
    <li th:replace="fragments/links :: findProject"></li>
</ul>

<ul class="topnav" th:fragment="projectSubAddActive">
    <li th:replace="fragments/links :: addProjectActive"></li>
    <li th:replace="fragments/links :: findProject"></li>
</ul>

<ul class="topnav" th:fragment="projectSubFindActive">
    <li th:replace="fragments/links :: addProject"></li>
    <li th:replace="fragments/links :: findProjectActive"></li>
</ul>



</body>
</html>