<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<table th:fragment="ProjectDetailsList">
    <thead>
    <tr>
        <th>PROJECT</th>
        <th>MODELLING</th>
        <th>DRAWINGS</th>
        <th>DOCUMENTATION</th>
        <th>CORRESPONDENCE</th>
        <th>ADDITIONAL HOURS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project: ${projectDetailsList}">
        <td th:text="${project.projectNumber}"></td>
        <td th:text="${project.modelling}"></td>
        <td th:text="${project.drawings}"></td>
        <td th:text="${project.documentation}"></td>
        <td th:text="${project.correspondence}"></td>
        <td th:text="${project.additionalHours}"></td>
    </tr>
    </tbody>
</table>

<table th:fragment="List">
    <thead>
    <tr>
        <th>NUMBER</th>
        <th>TITLE</th>
        <th>STATUS</th>
        <th>BUDGET</th>
        <th>LEADER</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project: ${projectList}">
        <td th:text="${project.number}"></td>
        <td th:text="${project.title}"></td>
        <td th:text="${project.closed} ? 'Closed' : 'Open'"></td></td>
        <td th:text="${project.budget}"></td>
        <td th:text="${project.leaderId}"></td>
        <td><a th:href="@{/projects/delete(projectNumber=${project.number})}"
               class="link"> X </a> </td>
    </tr>
    </tbody>
</table>

<form th:fragment="addForm"
      action="#"
      th:action="@{/projects/save}"
      th:object="${projectDto}"
      method="post">

    <div class="row">
            <div class="col-25">
            <label for="number">NUMBER </label>
            </div>

            <div class="col-75">
            <input type="text" id="number" th:field="*{number}" />
                <td th:if="${#fields.hasErrors('number')}" th:errors="*{number}">
                    Number Error</td>
            </div>
    </div>

    <div class="row">
            <div class="col-25">
            <label for="title">TITLE </label>
            </div>

            <div class="col-75">
            <input type="text" id="title" th:field="*{title}" />
                <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                    Title not correct</td>
            </div>
    </div>

    <div class="row">
            <div class="col-25">
            <label for="budget">BUDGET </label>
            </div>

            <div class="col-75">
            <input type="text" id="budget" th:field="*{budget}"/>
                <td th:if="${#fields.hasErrors('budget')}" th:errors="*{budget}">
                    Budget?</td>
            </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="leaderId">LEADER</label>
        </div>
        <div class="col-75">
                <select th:field="*{leaderId}" id="leaderId">
                 <option value=""> -- </option>
                 <option th:each="employee : ${leaderList}"
                 th:value="${employee.id}"
                 th:utext="${employee.name}"/>
                </select>
            <td th:if="${#fields.hasErrors('leaderId')}" th:errors="*{leaderId}"></td>

        </div>
    </div>

    <input type="submit" value="Submit" />

</form>

<form th:fragment="findForm" action="#"
      th:action="@{/projects/find}"
      th:object="${projectDto}"
      method="post">

    <div class="row">
        <div class="col-25">
            <label for="number">NUMBER </label>
        </div>
        <div class="col-75">
            <input type="text" id="number" th:field="*{number}" />
        </div></div>

    <div class="row">
        <div class="col-25">
            <label for="title">TITLE </label>
        </div>
        <div class="col-75">
            <input type="text" id="title" th:field="*{title}" />
        </div></div>

    <input type="submit" value="Submit" />

</form>


<p th:fragment="DeleteConfirm">
Are you sure you want to delete : <td th:text="${projectNumber}"></td> ??
<br><br>
<td><a th:href="@{/projects/deleteConfirmed(projectNumber=${projectNumber})}" class="link">
    YES, DELETE </a> </td>
<br><br>
<td><a th:href="@{/projects/all}" class="link">
    NO, TAKE ME BACK </a> </td>
</p>


</body>
</html>