<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<table th:fragment="List">
    <thead>
    <tr>
        <th>NUMBER</th>
        <th>TITLE</th>
        <th>STATUS</th>
        <th>BUDGET</th>
        <th>DETAILS</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project: ${projectList}">
        <td th:text="${project.number}"></td>
        <td th:text="${project.title}"></td>
        <td th:text="${project.closed} ? 'Closed' : 'Open'"></td></td>
        <td th:text="${project.budget}"></td>
        <td>
            <a th:href="@{/projects/details/(projectNumber=${project.number})}"
               class="link"> Details </a>
        </td>
    </tr>
    </tbody>
</table>

<form th:fragment="addForm"
      action="#"
      th:action="@{/projects/save}"
      th:object="${projectForm}"
      method="post">

    <div class="row">
            <div class="col-25">
            <label for="number">NUMBER </label>
            </div>

            <div class="col-75">
            <input type="text" id="number" th:field="*{number}" />
            </div>
    </div>

    <div class="row">
            <div class="col-25">
            <label for="title">TITLE </label>
            </div>

            <div class="col-75">
            <input type="text" id="title" th:field="*{title}" />
            </div>
    </div>

    <div class="row">
            <div class="col-25">
            <label for="budget">BUDGET </label>
            </div>

            <div class="col-75">
            <input type="text" id="budget" th:field="*{budget}"/>
            </div>
    </div>

    <input type="submit" value="Submit" />

</form>

<form th:fragment="findForm" action="#" th:action="@{/projects/find}" th:object="${projectForm}" method="post">

    <div class="row">
        <div class="col-25">
            <label for="number">NUMBER </label>
        </div>
        <div class="col-75">
            <input type="text" id="number" th:field="*{number}" />
        </div></div>

    <div class="row">
        <div class="col-25">
            <label for="title">TITLE </label>
        </div>
        <div class="col-75">
            <input type="text" id="title" th:field="*{title}" />
        </div></div>

    <input type="submit" value="Submit" />

</form>





<p th:fragment="Details">
    Project Number :
    <td th:text="${project.number}"/><br>
    Project Title :
    <td th:text="${project.title}"/><br>
    Modelling :
    <td th:text="${project.modelling}"/><br>
    Drawings :
    <td th:text="${project.drawings}"/><br>
    Documentation :
    <td th:text="${project.documentation}"/><br>
    Correspondence :
    <td th:text="${project.correspondence}"/><br>
    Additional Hours :
    <td th:text="${project.additionalHours}"/><br>

    <td><a th:href="@{/projects/delete(projectNumber=${project.number})}"
           class="link"> DELETE PROJECT </a> </td>

</body>
</html>