<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<form th:fragment="FindForm"
      action="#"
      th:action="@{/reports/find}"
      th:object="${reportFindForm}"
      method="post">

    <label>EMPLOYEE</label><br>
            <select th:field="*{employee}" id="employee">
                <option value=""> -- </option>
                <option th:each="employee : ${employeeList}"
                        th:value="${employee.id}"
                        th:utext="${employee.name}"></option>
            </select>


    <label>PROJECT</label><br>
            <select th:field="*{project}" id="project">
                <option value=""> -- </option>
                <option th:each="project : ${projectList}"
                        th:value="${project.number}"
                        th:utext="${project.number}"></option>
            </select>

    <label>DEPARTMENT</label><br>
            <select th:field="*{departmentName}" id="departmentName">
                <option value=""> -- </option>
                <option th:each="department : ${departmentList}"
                        th:value="${department}"
                        th:utext="${department}"></option>
            </select>

            <label>DATE FROM</label><br>
            <input type="date" id="dateFrom" th:field="*{dateFrom}" />

            <label>DATE TO </label><br>
            <input type="date" id="dateTo" th:field="*{dateTo}" />

            <br><br>
            <input type="submit" value="FIND REPORTS" />
</form>

</body>
</html>