<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<table th:fragment="List">
    <thead>
    <tr>
        <th>EMPLOYEE</th>
        <th>PROJECT</th>
        <th>DEPARTMENT</th>
        <th>DESCRIPTION</th>
        <th>DURATION</th>
        <th>EXTRA SCOPE</th>
        <th>DELETE</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="report: ${unsentReports}">
        <td th:text="${report.employeeId}"></td>
        <td th:text="${report.projectId}"></td>
        <td th:text="${report.department}"></td>
        <td th:text="${report.description}"></td>
        <td th:text="${report.time}"></td>
        <td th:text="${report.additionalRange} ? 'X' : ''"></td></td>
        <td><a th:href="@{/reports/delete(id=${report.id})}"
               class="link"> X </a> </td>

    </tr>
    </tbody>
</table>

<table th:fragment="MyReports">
    <thead>
    <tr>
        <th>DATE</th>
        <th>PROJECT</th>
        <th>DEPARTMENT</th>
        <th>DESCRIPTION</th>
        <th>DURATION</th>
        <th>EXTRA SCOPE</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="report: ${loggedUserReports}">
        <td th:text="${report.date}"></td>
        <td th:text="${report.projectId}"></td>
        <td th:text="${report.department}"></td>
        <td th:text="${report.description}"></td>
        <td th:text="${report.time}"></td>
        <td th:text="${report.additionalRange} ? 'X' : ''"></td></td>
    </tr>
    </tbody>
</table>

<form th:fragment="Form"
      action="#"
      th:action="@{/reports/save}"
      th:object="${reportDto}"
      method="post">

    <div class="row">
        <div class="col-25">
            <label for="projectId">PROJECT</label>
        </div>

        <div class="col-75">
            <select th:field="*{projectId}" id="projectId">
                <option value=""> -- </option>
                <option th:each="project : ${projectList}"
                        th:value="${project.number}"
                        th:utext="${project.number}"></option>
            </select>
            <td th:if="${#fields.hasErrors('projectId')}" th:errors="*{projectId}">ERROR</td>
        </div>
    </div>


    <div class="row">
        <div class="col-25">
            <label for="department">DEPARTMENT</label>
        </div>
        <div class="col-75">
            <select th:field="*{department}" id="department">
                <option value=""> -- </option>
                <option th:each="department : ${departmentList}"
                        th:value="${department}"
                        th:utext="${department}"></option>
            </select>
            <td th:if="${#fields.hasErrors('department')}" th:errors="*{department}">ERROR</td>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="description">DESCRIPTION </label>
        </div>
        <div class="col-75">
            <textarea id="description" name="description" placeholder="Write something.." style="height:200px"></textarea>
            <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}">DESCRIPTION ERROR</td>
        </div></div>

    <div class="row">
        <div class="col-25">
            <label for="time">TIME </label>
        </div>
        <div class="col-25">
            <input type="text" id="time" th:field="*{time}" />
            <td th:if="${#fields.hasErrors('time')}" th:errors="*{time}"></td>
        </div>
        <div class="col-25">
            <label for="additionalRange">EXTRA? </label>
        </div>
        <div class="col-25">
            <input type="checkbox" id="additionalRange" th:field="*{additionalRange}" />
        </div>

    </div>

    <div class="row">
        <div class="col-25"></div>
        <div class="col-75">
            <input type="submit" value="Submit" />
        </div></div>
</form>

</body>
</html>