<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<body>

<div th:fragment="summary">
    <div class="botbarfield">MODELLING</div>
    <div class="botbarfield" th:text="${summary.getTotalModelling()}"></div>
    <div class="botbarfield">DRAWINGS</div>
    <div class="botbarfield" th:text="${summary.getTotalDrawings()}"></div>
    <div class="botbarfield">DOCUMENTATION</div>
    <div class="botbarfield" th:text="${summary.getTotalDocumentation()}"></div>
    <div class="botbarfield">CORRESPONDENCE</div>
    <div class="botbarfield" th:text="${summary.getTotalCorrespondence()}"></div>
    <div class="botbarfield">STATIC</div>
    <div class="botbarfield" th:text="${summary.getTotalStatic()}"></div>
    <div class="botbarfield">OTHERS</div>
    <div class="botbarfield" th:text="${summary.getTotalOthers()}"></div>


    <div class="botbarfieldR" th:text="${summary.getTotalSum()}"></div>
    <div class="botbarfieldR">TOTAL</div>
</div>

<table th:fragment="unsentReports">
    <thead>
    <tr>
        <th>PROJECT</th>
        <th>DEPARTMENT</th>
        <th>DESCRIPTION</th>
        <th>DURATION</th>
        <th>EXTRA SCOPE</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="report: ${unsentReports}">
        <td th:text="${report.projectId}"></td>
        <td th:text="${report.department}"></td>
        <td th:text="${report.description}"></td>
        <td th:text="${report.time}"></td>
        <td th:text="${report.additionalRange} ? 'X' : ''"></td></td>
        <td><a th:href="@{/report/create/delete-report-part(id=${report.id})}"
               class="fieldlink" style="border:1px solid orange; text-align:center"> DELETE </a> </td>

    </tr>
    </tbody>
</table>

<table th:fragment="MyReports">
    <thead>
    <tr>
        <th>DATE</th>
        <th>EMPLOYEE</th>
        <th>PROJECT</th>
        <th>DEPARTMENT</th>
        <th>DESCRIPTION</th>
        <th>DURATION</th>
        <th>EXTRA SCOPE</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="report: ${allReports}">
        <td th:text="${report.date}"></td>
        <td th:text="${report.employeeId}"></td>
        <td th:text="${report.projectId}"></td>
        <td th:text="${report.department}"></td>
        <td th:text="${report.description}"></td>
        <td th:text="${report.time}"></td>
        <td th:text="${report.additionalRange} ? 'X' : ''"></td></td>
    </tr>
    </tbody>
</table>


<form th:fragment="Form"
      action="#"
      th:action="@{/report/create/add-report-part/}"
      th:object="${reportDto}"
      method="post">

    <label>PROJECT</label>
    <i class="orange">
    <td th:if="${#fields.hasErrors('projectId')}" th:errors="*{projectId}"/>
    </i><br />
                <select th:field="*{projectId}" id="projectId">
                <option value=""> -- </option>
                <option th:each="project : ${projectList}"
                        th:value="${project.number}"
                        th:utext="${project.number}"></option>
            </select>



    <label>DEPARTMENT</label>
    <i class="orange">
        <td th:if="${#fields.hasErrors('department')}" th:errors="*{department}"/></i>
    <br />
                <select th:field="*{department}" id="department">
                <option value=""> -- </option>
                <option th:each="department : ${departmentList}"
                        th:value="${department}"
                        th:utext="${department}"></option>
            </select>


    <label>DESCRIPTION </label>
    <i class="orange">
        <td th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/>
    </i>
    <br />
            <textarea name="description" placeholder="Write something.." style="height:250px"></textarea>


    <label>TIME </label>
    <i class="orange">
        <td th:if="${#fields.hasErrors('time')}" th:errors="*{time}"/>
    </i>
    <br />
            <input type="text" th:field="*{time}" />

            <label>EXTRA? </label>
            <input type="checkbox" id="additionalRange" th:field="*{additionalRange}" />
    <br />
    <input type="submit" value="ADD REPORT PART"/>
    <br /><br />
</form>


</body>
</html>