*{
  box-sizing: border-box;
}

.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left and right column */
.column.side {
  color: white;
  font-family:Lucida Sans Unicode, Lucida Grande;
  font-size:12px;
  width: 30%;
  background: #262626;
  border: 1px solid white;
}

/* Middle column */
.column.middle {
  width: 70%;
  color: white;
    font-family:Lucida Sans Unicode, Lucida Grande;
    font-size:12px;
    background: #262626;
    border: 1px solid white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
body{
background-color:  #d9d9d9 ;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #262626; /* DARK GREY */
  border: 1px solid white;
  font-family: Impact, fantasy;
}

ul.topnav li {
float: left;
}

ul.topnav li a {
  display: block;       /* NAV BAR ELEMENT - DISPLAY TYPE */
  color: white;         /* NAV BAR ELEMENT - TEXT COLOR */
  text-align: center;   /* NAV BAR ELEMENT - TEXT ALIGN */
  padding: 20px 25px;   /* NAV BAR ELEMENT - SIZE OF BOX */
  text-decoration: none;
}

 /* NAV BAR ELEMENT - CURRENTLY SELECTED WITH MOUSE */
ul.topnav li a:hover:not(.active) {
background-color: #d9d9d9;
color: black;
}

 /* NAV BAR ELEMENT - CURRENTLY IN */
ul.topnav li a.active {
background-color: #7c7c7c;
color: black;
}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit], input[type=text] {
    width: 100%;
    margin-top: 0;
  }
}
table {
  border-collapse: collapse;
  width:100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

th.fit{
  text-vertical-align: middle;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
background-color: #7c7c7c;
}

label {

  padding: 12px 12px 12px 0;
  display: inline-block;
    float:right;
  text-vertical-align: middle;
}

.col-25 {
  overflow: hidden;
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-50 {
  overflow: hidden;
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  overflow: hidden;
  float: left;
  width: 75%;
  margin-top: 6px;
}
.col-100 {
  overflow: hidden;
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

a.link{
  background-color: #d9d9d9 ;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.longlink{
  background-color: #d9d9d9 ;
  color: black;
  width: 300px;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

input[type=submit] {
  width:100%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #404040;
  color: white;
}

input[type=checkbox]{
 width: 13px;
  height: 13px;
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}

input[type=password], input[type=text], textarea, select {
  vertical-align:middle;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-color:white;
  border-radius: 4px;
  cursor: pointer;
  background-color: #404040;
  color: white;
  width:100%;
  float:left;
}


.footer{
}



