<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<ul th:replace="fragments/navigation::adminEmployees"></ul>


<div class="row">
    <div class="column middle">
        <h3>Work in progress....</h3>
        <p>Logged as <td th:text="${username}"></td></p>
        <table th:fragment="List">
            <thead>
            <tr>
                <th>ID</th>
                <th>EMAIL</th>
                <th>ROLE</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${employeeList}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.role}"></td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="column side">
        <p><i>Coming soon</i></p>
    </div>
</div>

</body>
</html>