<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reporting center</title>
    <meta charset="UTF-8" />
    <meta title="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>

<body>


<table>
    <thead>
    <tr>
        <th >PROJECT NUMBER</th>
        <th>NAME</th>
        <th>BUDGET</th>
        <th>STATUS</th>
        <th>DELETE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="project : ${projectList}">
        <td th:text="${project.projectNumber}"></td>
        <td th:text="${project.projectTitle}"></td>
        <td th:text="${project.projectBudget}"></td>
        <td th:text="${project.closed} ? 'Closed' : 'Open'"></td></td>
        <td>
            <a th:href="@{/delete(projectNumber=${project.projectNumber})}" class="btn btn-danger">Delete</a>

        </td>
    </tr>
    </tbody>
</table>

<form action="#" th:action="@{/saveProject}" th:object="${projectInfo}" method="post">
    <input th:field="*{projectNumber}" type="text"/>
    <input type="text" th:field="*{projectTitle}" />
    <input type="text" th:field="*{projectBudget}"/>
    <input type="submit" value="Submit" />
</form>



</body>
</html>