<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>

<body>

<ul sec:authorize="isAnonymous()" th:replace="fragments/navigation :: unloggedHome"></ul>
<ul sec:authorize="hasAuthority('USER')" th:replace="fragments/navigation :: userHome"></ul>
<ul sec:authorize="hasAuthority('LEADER')" th:replace="fragments/navigation :: leaderHome"></ul>
<ul sec:authorize="hasAuthority('ADMIN')" th:replace="fragments/navigation :: adminHome"></ul>

<div class="row">
    <div class="column middle">
        <h3>Welcome in Reporting Center</h3>
        <p>Please log in to see further functions!</p>
        <p>Have fun using this application</p>
    </div>

    <div class="column side">
        <h4>App scope</h4>
        <p><i>Main goal of this application is to store informations
            and details about projects and employees.
            Information are stored in the database.
            The main purpose of the application is to enable users to make daily reports.
            The information contained therein will be assigned to specific projects,
            and can be used to create summaries, and facilitate the analysis of the project
            in its individual sectors.</i></p>
    </div>


</div>
</body>
</html>