<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:a="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>

<body>

<div id="container">
<div id="logo">
    Reporting tool
</div>
    <div id="navbar">
        <div class="navfield">
            <a class="fieldlink" th:href="@{/reports/create}">NEW REPORT</a>
        </div>

        <div class="navfieldactive">MY DETAILS</div>

        <div class="navfieldR">
        <a class="fieldlink" th:href="@{/logout}">LOG OUT</a>
        </div>
        <div style="clear:both;"></div>
    </div>

    <div id="leftbox">

        <form th:replace="fragments/reportfind :: FindForm"></form>
    </div>

    <div id="rightbox">
        <table th:replace="fragments/report :: MyReports"></table>
    </div>

        <div id="footerleft"><i>Created by Paweł Muniak</i></div>
        <div id="footerright">
            <div class="botbarfield">MODELLING</div>
            <div class="botbarfield" th:text="${summary.getTotalModelling()}"></div>
            <div class="botbarfield">DRAWINGS</div>
            <div class="botbarfield" th:text="${summary.getTotalDrawings()}"></div>
            <div class="botbarfield">DOCUMENTATION</div>
            <div class="botbarfield" th:text="${summary.getTotalDocumentation()}"></div>
            <div class="botbarfield">CORRESPONDENCE</div>
            <div class="botbarfield" th:text="${summary.getTotalCorrespondence()}"></div>
            <div class="botbarfieldR" th:text="${summary.getTotalSum()}"></div>
            <div class="botbarfieldR">TOTAL</div>
        </div>
</div>

</body>
</html>